{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }}   {{ 'menu.currency' | trans }} s
{% endblock %}

{% block navigation %}
    <li class="breadcrumb-item"><span> {{ 'menu.currency' | trans }} s</span></li>
{% endblock %}
