{% if is_granted('ROLE_ADMIN') == true %} {% set base = 'base.html.twig' %}
{% else %} {% set base = 'base_degree.html.twig' %}
{% endif %}
{% extends base %}

{% block title %}
  {{ parent() }} {{ 'survey.insertion_survey_graduates_looking_for_work' | trans }}
{% endblock %}

{#
{% block navigation %}
  <li class="breadcrumb-item"><span>Enquête insertion : Diplômés en recherche d'emploi</span></li>
{% endblock %}#}

{% block js %}
  <script>
     let idPrefix = '#appbundle_satisfactionsearch_';
     let translations = [];
     getTranslation().then (function (translation) {
        translations = translation;
        // console.log(translations);
        let allActivities = getAllActivities('#allActivities');

        // met toutes les options (y comprises les non sélectionnées) dans le select multiple activity
        initActivities(allActivities, idPrefix, 'sectorArea', 'activities', true, function () {
           initChampsAutre(idPrefix, "activities", "otherFormationActivityName", ".hide_flex_other_activity", translations["js.other_job"])
           masquageChampsAutre(idPrefix, "activities", "otherFormationActivityName", ".hide_flex_other_activity")
        });
        initActivities(allActivities, idPrefix, 'sectorAreaVolunteer', 'activityVolunteer', false, function () {
           initChampsAutre(idPrefix, "activityVolunteer", "otherDomainVolunteer", ".hide_block_otherDomainVolunteer", translations["js.other_job"])
           masquageChampsAutre(idPrefix, "activityVolunteer", "otherDomainVolunteer", ".hide_block_otherDomainVolunteer")
        });

        // cacher/montrer les div avec les CheckBox (glissieres OUI/NON)
        hideBlockFlexListener(idPrefix, 'registeredTraining', 'registered_training', 'oui', ["degree", "sectorArea", "activities"], ["otherFormationDegreeName", "otherFormationActivityName"]);
        hideBlockFlexListener(idPrefix, 'searchWork', 'searchWork', 'non', [], ["noSearchWorkReason"]);
        hideBlockFlexListener(idPrefix, 'activeVolunteer', 'sectorAreaVolunteer', 'oui', ["sectorAreaVolunteer", "activityVolunteer"], ["otherDomainVolunteer", "jobVolunteer"]);
        hideBlockFlexListener(idPrefix, 'jobFromFormation', 'jobTime', 'oui', ["jobTime"]);

        // Initialisation des zones masquées et ajout de l'option Autre
        // initChampsAutre(idPrefix, "degree", "otherFormationDegreeName", ".hide_block_other_degree_name", "Autre diplôme");
        initChampsAutre(idPrefix, "degree", "otherFormationDegreeName", ".hide_block_other_degree_name", translations["js.other_degree"]);
        initChampsAutre(idPrefix, "jobNotFoundReasons", "jobNotFoundOther", ".hide_flex_jobNotFoundOther", translations["js.other_reason"]);

        // Event, Masquage, affichage des chapitres Autres en fonction du select contenant Autre
        masquageChampsAutre(idPrefix, "degree", "otherFormationDegreeName", ".hide_block_other_degree_name");
        masquageChampsAutre(idPrefix, "jobNotFoundReasons", "jobNotFoundOther", ".hide_flex_jobNotFoundOther");

        // Event
        // ecoute changement sur SectorArea
        listenChangeSectorArea(allActivities, idPrefix, "sectorArea", "activities", "otherFormationActivityName", ".hide_flex_other_activity", true);
        listenChangeSectorArea(allActivities, idPrefix, 'sectorAreaVolunteer', 'activityVolunteer', 'otherDomainVolunteer', ".hide_block_otherDomainVolunteer", false);

     })

     function preventDefaultSubmit() {
        // Suppression des champs Autre des select multiples
        // ---------------------------------------------------
        if (($("#appbundle_satisfactionsearch_jobNotFoundReasons").text().indexOf("Autre")) != -1) {
           $("#appbundle_satisfactionsearch_jobNotFoundReasons option[value='']").remove();
        }
        if (($("#appbundle_satisfactionsearch_activities").text().indexOf("Autre")) != -1) {
           $("#appbundle_satisfactionsearch_activities option[value='']").remove();
        }
        if (($("#appbundle_satisfactionsearch_activities").text().toLowerCase().replace('é','e').indexOf("selectionnez")) != -1) {
           $("#appbundle_satisfactionsearch_activities option[value='-1']").prop("selected", false);
        }

        // Initialisation des zones cachées par les checkbox glissieres
        // ------------------------------------------------------------
        clearBlockFlex(idPrefix, "activeVolunteer", "non", ["sectorAreaVolunteer", "activityVolunteer"], ["otherDomainVolunteer", "jobVolunteer"])

        // validation du questionnaire
        // ---------------------------
        $('#submitSatisfactionSearch').trigger('click');
     }

  </script>
{% endblock %}
