{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} {{ 'menu.degrees' | trans }}
{% endblock %}

{#
{% block navigation %}
  <li class="breadcrumb-item"><span>Diplômes</span></li>
{% endblock %}#}
