{% extends 'satisfactionsalary/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Modification d'une enquête d'insertion : diplômé en emploi
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactionsalary_index') }}">
                            <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                    {% elseif is_granted('ROLE_DIPLOME') == true %}
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('front_persondegree_satisfactions_index') }}">
                            <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                    {% endif %}
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post">
                      {% include 'satisfactionsalary/_new.html.twig' with {'form': edit_form} %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
