{% extends 'satisfactionsalary/content.html.twig' %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Nouvelle enquête d'insertion : Diplômé en emploi
                  {% if is_granted('ROLE_ADMIN') == true %}
                      <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactionsalary_index') }}">
                          <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                  {% elseif is_granted('ROLE_DIPLOME') == true %}
                      <a class="btn btn-sm btn-primary float-right" href="{{ path('front_persondegree_satisfactions_index') }}">
                          <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                  {% endif %}
                </h6>
                <div class="element-box">
                    <form id="" method="post" action="{{ path('satisfactionsalary_new'| route_persondegree) }}">
                      {% include 'satisfactionsalary/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
