{% extends 'frontCompanyJobOffer/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/job.png') }}" alt="job" class="title-icon">
                <h6 class="element-header">
                    Ajout d'une offre d'emploi
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('front_company_jobOffer_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h6>
                <div class="element-box">
                    <form id="" method="post" enctype="multipart/form-data" action="{{ path('front_company_jobOffer_new') }}">
                      {% include 'frontCompanyJobOffer/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



