{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} {{ 'company.reasons_for_employee_deficiencies' | trans }}
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Raisons des lacunes des employés </span></li>
{% endblock %}#}
