{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Raisons des lacunes des employés
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Raisons des lacunes des employés </span></li>
{% endblock %}#}
