{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Formations Utiles
{% endblock %}

{#
{% block navigation %}
    <li class="breadcrumb-item"><span>Formations Utiles</span></li>
{% endblock %}
#}
