<ul class="kz-steps row">
  <li class="col-sm-4 {% if index == 1 %} kz-steps-active {% endif %}"><span class="kz-num">1</span> <span class="kz-title">Completer votre profil</span><hr></li>
  <li class="col-sm-4 {% if index == 2 %} kz-steps-active {% endif %}"><span class="kz-num">2</span> <span class="kz-title">Repondre aux enquêtes</span><hr></li>
  {#<li class="col-sm-4 {% if index == 3 %} kz-steps-active {% endif %}"><span class="kz-num">3</span> <span class="kz-title">Soumettre votre candidature</span><hr></li>#}
</ul>