# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
imports:
    - { resource: 'cqrs/cqrs.yaml'}

parameters:
    # Performance
    container.dumper.inline_factories: true
    # dns of central serveur for Synchro with local server Inserjeune (like Raspberry), (default : null)
    dnsServer: null
    app.supported_locales: fr|en|pt|es
    brochures_directory: '%kernel.project_dir%/public/uploads/brochures'
    avatars_directory: '%kernel.project_dir%/public/uploads/avatars'
    email_from: '%env(EMAIL_FROM)%'
    email_reply_to: '%env(EMAIL_REPLY_TO)%'
    # specific countries adaptation #
    env(EN_FIELD_TRANSLATION): en
    env(FR_FIELD_TRANSLATION): fr
    env(SP_FIELD_TRANSLATION): sp
    env(PT_FIELD_TRANSLATION): pt
    env(VI_FIELD_TRANSLATION): vi
    env(CONCAT_LOCAL_ADDRESS): 'false'
    env(STRUCT_PROVINCE_COUNTRY_CITY): 'false'
    env(PREFECTURE_BETWEEN_REGION_CITY): 'false'
    default_pagination_limit: 10
    app_version: v.362-dec25

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

        bind:
            $formLoginAuthenticator: '@security.authenticator.form_login.main'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/CQRS/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

#    App\Domain\User\Commands\:
#        resource: '../src/Domain/User/Commands/*{Handler}.php'
#        tags:
#            - { name: 'app_cqrs.command_handler' }
#        autowire: true

    # Uploadable Annotation
    upload.annotation_reader:
        class: App\Config\Annotations\Uploadable\Annotation\UploadAnnotationReader
        arguments: [ "@annotations.reader" ]

    upload.handler:
        class: App\Config\Annotations\Uploadable\Handler\UploadHandler

    upload.subscriber:
        class: App\Config\Annotations\Uploadable\Listener\UploadSubscriber
        arguments: [ "@upload.annotation_reader", "@upload.handler" ]
        tags:
            - { name: doctrine.event_subscribe, connection: default }

    ## Form Service
    app.city:
        class: App\Services\CityService

    app.activity:
        class: App\Services\ActivityService
        arguments: [
            '@doctrine.orm.default_entity_manager',
            '@App\Repository\ActivityRepository'
        ]

    app.company:
        class: App\Services\CompanyService
        arguments: [
            '@security.token_storage',
            '@doctrine.orm.default_entity_manager',
            '@App\Repository\CompanyRepository',
            '@request_stack',
            '@router',
            '@App\Repository\JobOfferRepository'
        ]

    app.school:
        class: App\Services\SchoolService
        arguments: [
            '@security.token_storage',
            '@doctrine.orm.default_entity_manager' ,
            '@App\Repository\SchoolRepository',
            '@request_stack',
            '@router'
        ]

    app.persondegree:
        class: App\Services\PersonDegreeService
        arguments: [
            '@security.token_storage',
            '@doctrine.orm.default_entity_manager',
            '@App\Repository\PersonDegreeRepository',
            '@request_stack',
            '@router'
        ]

    app.email:
        class: App\Services\EmailService

    app.connectserverservice:
        class: App\Services\ConnectServerService

        # Satisfaction
    app.satisfaction:
        class: App\Services\SatisfactionService

    App\Services\FileUploader:
        arguments:
            $targetDirectory: '%brochures_directory%'
            $avatarsDirectory: '%avatars_directory%'


    App\Event\Listener\SessionTimeoutListener:
        tags:
            - { name: kernel.event_subscriber }
