{{ form_widget(form._token) }}
<div class="form-group">
  <label for=""> Role </label>
  {{ form_widget(form.role) }}
  <div class="help-block form-text with-errors form-control-feedback"></div>
</div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="submit"> Valider</button>
</div>