{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} {{ 'menu.city' | trans }}
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Ville</span></li>
{% endblock %}#}
