{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }}  {{ 'menu.jobs' | trans }}
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Métiers</span></li>
{% endblock %}#}
