<td>{{ check_person_degree_satisfaction(
        row.id,
        row.type,
        row.lastDegreeMonth,
        row.lastDegreeYear,
        row.satisfactionCreatorsCount,
        row.satisfactionSalariesCount,
        row.satisfactionSearchesCount
    ) }}
</td>
