{# Bannière Header TOP #}
<div class="row banner">
    <img class="banner" id="logo_dbta"  src="{{ asset('build/images/pinsuprem/logo_dbta.png') }}">
    <div class="banner_title"><span>{{ 'survey.description_measurement_professional' | trans }}</span></div>
    <img class="banner" id="logo_salesians"  src="{{ asset('build/images/pinsuprem/logo_salesians.png') }}">
</div>
