{# Bannière Header TOP #}
<div class="row banner">
    <img class="banner" id="logo_ifef"  src="{{ asset('build/images/pinsuprem/logo_ifef.jpg') }}">
    <div class="banner_title"><span>{{ 'survey.description_measurement_professional' | trans }}</span></div>
    <img class="banner" id="logo_oif" src="{{ asset('build/images/pinsuprem/logo_oif.jpg') }}">
</div>
