{# Bannière Header TOP #}
<div class="row banner">
    <img class="banner" id="logo_ifef"  src="{{ asset('build/images/pinsuprem/logo_ifef.jpg') }}">
    <div class="banner_title"><span>Enquête relative à la mesure du taux d&#39;insertion professionnelle des diplômés de l&#39;enseignement technique et de la formation professionnelle et de la satisfaction des entreprises</span></div>
    <img class="banner" id="logo_oif" src="{{ asset('build/images/pinsuprem/logo_oif.jpg') }}">
</div>
