<div id="loginLogo">
  <a href="#"><img alt="" src="{{ asset('build/images/pinsuprem/logo_dbta.png') }}" width="120" height="auto"></a>
  <a href="#"><img alt="" src="{{ asset('build/images/pinsuprem/logo_salesians.png') }}" width="95" height="auto"></a>
</div>
