<div class="row" style="background-color: black; color: white; padding: 10px 50px; margin: auto;">
  <div class="col-sm-6">
    <span>Useful links</span>
  </div>
  <div class="col-sm-6">
    <span>Contact-us</span>
  </div>
</div>
