{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Secteurs d'activités
{% endblock %}

{#
{% block navigation %}
    <li class="breadcrumb-item"><span>Secteurs d'activités </span></li>
{% endblock %}
#}
