{% extends 'sectorarea/content.html.twig' %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    {{ 'menu.add_a_sector' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('sectorarea_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post" action="{{ path('sectorarea_new') }}">
                      {% include 'sectorarea/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


