{% extends 'jobNotFoundReason/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    Modification d'une raison d'emploi trouvé
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('reasonsatisfied_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post">
                      {% include 'reasonsatisfied/_new.html.twig' with {'form': edit_form} %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

