{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} {{ 'graduate.reasons_jobs_not_found' | trans }}
{% endblock %}

{#
{% block navigation %}
    <li class="breadcrumb-item"><span>Raisons emplois non trouvés</span></li>
{% endblock %}
#}
