{% extends 'jobNotFoundReason/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    {{ 'graduate.editing_of_a_reason_for_not_finding_a_job' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('job_not_found_reason_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post">
                      {% include 'jobNotFoundReason/_new.html.twig' with {'form': edit_form} %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
