{% extends 'jobNotFoundReason/content.html.twig' %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    Ajout d'une raison d'emploi non trouvée
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('job_not_found_reason_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post" action="{{ path('job_not_found_reason_new') }}">
                      {% include 'jobNotFoundReason/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

