{% extends 'persondegree/content.html.twig' %}
{% block css %}
{% endblock %}

{% block body %}

  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/locality.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
        <h6 class="element-header">
          Maps
        </h6>
        <div class="element-box">
          {# Google map #}
          <input id="address" type="text" placeholder="Entrez votre addresse" value="dakar">
          <div id="map" style="width: 100%; height: 500px; border: 1px solid #000;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script>

     function initMap() {
        // // The location of SelectCountry
        // var selectCountry = {lat: 14.765, lng:-14.265 };
        // // The map, centered at SelectCountry
        // var map = new google.maps.Map(
        //    document.getElementById('map'), {zoom: 7, center: selectCountry});
        //
        // var map = new google.maps.Map2(document.getElementById('map'));


        // The marker, positioned at SelectCountry
        // var marker = new google.maps.Marker({position: selectCountry, map: map});
/* --------------------------------------------------------------------------------------*/
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 7});
        var geocoder = new google.maps.Geocoder;
        var input_address = document.getElementById("address").value;

        geocoder.geocode({'address': input_address}, function(results, status) {
           if (status === 'OK') {
              map.setCenter(results[0].geometry.location);
              new google.maps.Marker({
                 map: map,
                 position: results[0].geometry.location
              });
           } else {
              window.alert('Echec de recherche Geocode : ' + status);
           }
        });
     }
  </script>

  <script>
     $("#address").change(function() {
        initMap();
     });
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy9WBkxvkGzs4tQN-RilyvV6WvWnTInUM&callback=initMap"
          type="text/javascript"></script>
  {#<script#}
      {#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCadowdK5gjTw5h8zSUeBjRqbIOMYoHx0Q&v=3.exp&sensor=false&libraries=places"></script>#}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js"></script>
  <script>

     // instantiate the addressPicker suggestion engine (based on bloodhound)
     // let addressPicker = new AddressPicker({
     //    map: {
     //       id: '#map'
     //    }
     // });
     //
     // // instantiate the typeahead UI
     // $('#address').typeahead(null, {
     //    displayKey: 'description',
     //    source: addressPicker.ttAdapter()
     // });
     //
     // // Bind some event to update map on autocomplete selection
     // $('#address').bind('typeahead:selected', addressPicker.updateMap);
     // $('#address').bind('typeahead:cursorchanged', addressPicker.updateMap);
  </script>
{% endblock %}



