{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }}  {{ 'menu.legals_status' | trans }}
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Statut juridique</span></li>
{% endblock %}#}
