{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Statut juridique
{% endblock %}

{#{% block navigation %}
    <li class="breadcrumb-item"><span>Statut juridique</span></li>
{% endblock %}#}
