{% extends 'user/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/users.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Modification d'un utilisateur
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('user_new') }}">
                        <i class="fa fa-plus"></i> Ajouter un nouvel utilisateur
                    </a>
                    <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('user_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    {#<form id="formValidate" method="post">#}
                    <form id="" method="post">
                      {% include 'user/_new.html.twig' with {'form': edit_form} %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
